@model MyCookbook.Models.RecipeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

    <div>
        <div class="cookbookHeader">
            <h4> @Html.DisplayFor(model => model.Title)</h4>
        </div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RecipeItems)
                </dt>
                <dd class="col-sm-10">
                    <ul>

                        @foreach (var recipeItem in Model.RecipeItems)
                        {
                            <li>@recipeItem.Name @recipeItem.Quantity @recipeItem.Unit </li>
                        }
                    </ul>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Instructions)
                </dt>

                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Instructions)
                </dd>

            </dl>
        </div>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit Recipe</a> |
            <a asp-action="Index">Back to Recipe List</a>
        </div>
        <link href="~/css/cookbookHeader.css" rel="stylesheet" />
