@model RecipeEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="cookbookHeader">
    <h4>Edit Recipe</h4>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecipeId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" style="width: 400px;" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <textarea asp-for="Instructions" class="form-control" cols="100" rows="5"></textarea>
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>

            @for (int i = 0; i < Model.RecipeItems.Count; i++)
            {
                <input type="hidden" asp-for="@Model.RecipeItems[i].IngredientId" />
                <div class="col-md-6" style="float:left;padding-left:0px;">
                    <label asp-for="@Model.RecipeItems[i].Name" class="control-label">Ingredient</label>
                    <input asp-for="@Model.RecipeItems[i].Name" class="form-control" />
                    <span asp-validation-for="@Model.RecipeItems[i].Name" class="text-danger"></span>
                </div>
                <div class="col-md-2" style="float:left;padding-left:0px;">
                    <label asp-for="@Model.RecipeItems[i].Quantity" class="control-label"></label>
                    <input asp-for="@Model.RecipeItems[i].Quantity" class="form-control" />
                    <span asp-validation-for="@Model.RecipeItems[i].Quantity" class="text-danger"></span>
                </div>

                <div class="col-md-4" style="float:left;padding-left:0px;">
                    <label asp-for="@Model.RecipeItems[i].Unit" class="control-label"></label>
                    <select asp-for="@Model.RecipeItems[i].Unit" class="form-control" asp-items="Model.Units"></select>
                    <span asp-validation-for="@Model.RecipeItems[i].Unit" class="text-danger"></span>
                </div><br />
            }


            <div id="divCont">

                <div><input type="text" name="txttest" style="width:200px;" /><input type="button" onclick="AddTextBox()" value="Add" /></div>

            </div><br />

            <input type="submit" value="submit" />

            <br /><br /><div class="form-group; col-md-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<link href="~/css/cookbookHeader.css" rel="stylesheet" />
<link href="~/css/ExpandTextarea.css" rel="stylesheet" />
<script src="~/JavaScript.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
